<% include ./partials/header.ejs %>

<div class= 'container'>
    <div id='title'>Title : <%= req.body.title%></div>
    <div id='overview'>Overview : <%=req.body.overview%></div>
    <div id='releaseDate'>Release Date : <%=req.body.release_date%></div>
    <div id='Rating'>Rating : <%=req.body.vote_average%></div>
<% include ./partials/footer.ejs %>