<% include ./partials/header.ejs %>
<div class= "jumbotron bg ">
<div class="container">
      <h1 class="display-3" id="hotflops" >Hot Flops</h1>
      <p class="lead"> Click search to find a movie.</p>
      <a class="btn btn-primary btn-lg" href="/search" role="button">Search</a>
      </p>
  </div>
</div>
<% include ./partials/footer.ejs %>