<% include ./partials/header.ejs %>
<h1>Flops</h1>

<h2>Sign up for an account. Search our movie database.</h2>
<!--<form action="/movieResult">
  <div class="form-group">
    <label for="exampleInputPassword1"><h2>Find a shit movie:</h2></label>
    <input type="text" class="form-control" id="searchByKeyword" name = 'movie' placeholder="search by keyword">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form> -->
<% include ./partials/footer.ejs %>