<% include ./partials/header.ejs %>

    <div class="container">
      <h1 class="display-3" id="hotflops" >Hot Flops</h1>
      <p class="lead"><h2> Search for bad movies. Save them for later, like when you want a nap or something.</h2></p>
      <p class="lead">
      <a class="btn btn-light btn-lg" href="/login" role="button">Create an Account</a>
      </p>
  </div>

<% include ./partials/footer.ejs %>