<% include ./partials/header.ejs %>
Welcome to ShitFlix

<form action="/movieResult">
  <div class="form-group">
    <label for="exampleInputPassword1">Find a crap movie</label>
    <input type="text" class="form-control" id="searchByKeyword" name = 'movie' placeholder="search by keyword">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
<% include ./partials/footer.ejs %>