<% include ./partials/header.ejs %>
<div class= "jumbotron bg ">
  <!--<img src='../img/theaterseats.jpg'   class="bg ">-->
    <div class="container">
      <h1 class="display-3" id="hotflops" >Hot Flops</h1>
      <p class="lead"> Search movies. Save them for later.</p>
      <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Create an Account</a>
      </p>
  </div>
</div>
<% include ./partials/footer.ejs %>