<% include ./partials/header.ejs %>
<div class=container>
<form action="/movieResult">
  <div class="form-group">
    <label for="exampleInputPassword1"><h2>Find a shit movie:</h2></label>
    <input type="text" class="form-control" id="searchByKeyword" name = 'movie' placeholder="search by keyword">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>
</div>

<% include ./partials/footer.ejs %>