body, html {
    height: 100%;
    background-image: url('../img/theaterseats3.jpg');
}
.nav{
    color: white;
}
.container{
    color: white;
    font-size: 18px;
}
a:visited {
    color: white;
  }
/* .bg { 
    /* The image used */
    
    

    /* Full height */

    height: 700px; 
    width: 100%;

    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

/* }  */

.navbar{
    color: white;
}

.bg-login{
    
        /* The image used */
        /* background-image: url('../img/theaterseats.jpg'); */
      
    
        /* Full height */
        color: white;
        height: 700px; 
        width: 100%;
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
} 
.bg-login-text{
    width: 70%;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
}

#searchByKeyword{
    width: 70%;
}
.btn {
    color: white;
    background-color: #60a5a6;
}


h1 {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-size: 48px;
}

h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 28px;
}

